<div id="jukebox">
  <h1 class="header">JUKEBOX ENVY</h1>

  <!-- html in js file for carousel of albums-->
  <ul class="carousel"></ul>
  <div class="controls">
    <a href="#" class="previous btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
    <a href="#" class="next btn btn-default btn-lg">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
  </div>
</div>


<!-- html for songlist in js file -->
<div class="songlist container">
  <ul class="list-group">
  </ul>
</div>
