<div id="jukebox">
  <h1 class="header">JUKEBOX ENVY</h1>
    <ul class="carousel"></ul>

    <div class="controls">
      <a href="#" class="previous btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </a>
      <a href="#" class="next btn btn-default btn-lg">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </a>
    </div>
</div>
